<div>
  <div class="relative mt-2 rounded-md p-2 shadow-sm">
    <div class="mx-auto lg:mx-0">
      <h2 class="py-2 text-3xl font-bold tracking-tight text-primary sm:text-4xl">Create New Article</h2>
    </div>
    <%= render 'form', article: @article, url: create_article_path(@article) %>
  </div>
</div>

